

body{
font-family: Poppins;

}
li{
    color: white;
}
.container-one{
background-color:rgb(100, 15, 236);
color: white;
}

h1{
  font-size: 50px;
  font-weight: bolder;
  color: white;
}

.intro{
    background-color:rgb(243, 111, 162);
    font-size: 14px;
    font-weight:small;
    border-radius:10px;
    width:150px;
    height: 30px;
    color:white;
}

.super-player img{
    width: 50%;
}
.super-player{
    margin-top: 6%;
    margin-left: 2%;
}

.Document{
    margin-top: 100px;
    text-align:center;
    font-size: smaller;
    font-family: sans-serif;
    font-weight:bolder;
    margin-bottom: 50px;
}

.note1,.note2,.note3,.note4{
    border: none;
    border-radius: 10px;
    box-shadow:10PX 30px 40px lightgrey;
    height: 190px;
    width: 180px;
    padding: 75px;
    padding-bottom: 100px;
}

 .onli{
    margin-top: 50px;
   
}
.card-footer{
    border:none;
    background-color: white;
    font-size: 10px;
    font-weight: 500;
    font-family: serif;
}
.any-schedule{
    color: rgb(16, 218, 167);
}
.learn{
    color: rgb(255, 0, 0);
    font-size: 16px;
}
.Testimonial{
    text-align: center;
    margin-top: 50px;
}
 
 
footer{
  font-size: small;
  color: azure;
  text-align: left;

}

